:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* colors */
  --accent-color: #2196f3;
  --main_white-color: #ffffff;
  --main-black-color: #212121;
  --description-color: #757575;
  --bg-dark-gray-color: #2f303a;
  --bg-light-gray-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --border-color: #ececec;
  --bg-icon: #f5f4fa;
}

/* BG Colors */
.hero {
  max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-dark-gray-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/section-hero/hero-background.jpg);
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.footer {
  background-color: var(--bg-dark-gray-color);
}

.team {
  background-color: var(--bg-light-gray-color);
}

/* GENERAL */

body {
  font-family: var(--main-font);
  color: var(--main-black-color);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* COUNTAINERS */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.peculiarities {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
  /* display: flex; */
}

.header-container {
  display: flex;
  align-items: center;
}

.hero-container {
  text-align: center;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.doing-container {
  flex-direction: column;
}

.portfolio-countainer {
  flex-direction: column;
}

/* LISTS & ITEMS */

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.peculiarities-item {
  flex-basis: 270px;
}

.doing-list,
.team-list {
  display: flex;
  gap: 30px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* LOGOS */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-color-a {
  color: var(--accent-color);
}

.logo-color-b {
  color: #000;
}

.logo-color-—Å {
  color: #fff;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-color);
}

/* Pagination */
.nav-list {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: auto;

  display: flex;
  gap: 50px;
}

/* .nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
} */

.nav-link {
  color: var(--main-black-color);
  display: block;
  padding-top: 32px;
  /* padding-bottom: 32px; */
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-mail {
  margin-right: 50px;
}

/* Contact */
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.header-button {
  color: var(--description-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
}

.nav-link-current {
  color: var(--accent-color);
}

.nav-link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 28px;

  background-color: var(--accent-color);
}

.address-text-bold {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main_white-color);
}

.address-text-bold:hover,
.address-text-bold:focus {
  color: var(--accent-color);
}

.address-text-thin {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-text-thin:hover,
.address-text-thin:focus {
  color: var(--accent-color);
}

/* PECULIARITIES */
.pcl-item-icon {
  width: 100%;
  height: 120px;
  background-color: var(--bg-icon);
  background-image: url(../images/peculiarities/antenna.svg);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

:pcl-item-icon-child(2) {
  background-image: url(../images/peculiarities/clock.svg);
}

/* TEAM */
.team-item-block {
  /* width: 270px;
  height: 108px; */
  text-align: center;
  padding: 30px 5px;
  background-color: var(--main_white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* TITLE */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main_white-color);
  margin-bottom: 30px;
}

.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title-h3-14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-h3-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.title-h3-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
}

/* DESCRIPTION */
.description14 {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.description16 {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* Button */
.hero-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main_white-color);
  background-color: var(--accent-color);
  border-width: 0ch;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-hover-color);
}

.portfolio-button {
  font-family: var(--main-font);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  border-width: 0ch;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--btn-hover-color);
  color: var(--main_white-color);
}

.portfolio-button-current {
  background-color: var(--accent-color);
  color: var(--main_white-color);
}

/* PORTFOLIO */
.portfolio-item-block {
  /* width: 370px;
  height: 110px; */
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.address {
  margin-top: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
